!= partial("_common")
  :markdown
    # CMS : Vendor Hub & Instance Pages

    The eCommerce system will consist of two parts refered to here as the "Vendor Hub", which deals with Winchester Safe employee actions, and the "Vendor Instance", which is where the actual vendor will perform their actions. Each of these parts wil be built on the WooCommerce Framework.

      The vendors will not have access to the administration section of the Vendor Hub.

    The customer will configure the order on the Hub site, but will pay through the Vendor Instance. The transition between the sites will be easy on the user. Only the sub-domain will change.

    ## Vendor Hub
    The Vendor Hub is where Customers will configure their order, payment functioanlity is delegated to the Vendor Instance. Specific Winchester Safes employees will be able to edit/add/delete products at a centralized location. The product changes made here will update the vendor instances automatically.

    ###  Features of the Vendor Hub (User POV)
      - PDF Manuals can be downloaded
      - The site will display clearly and 'responsively' on mobile devices (tablets, and mobile phones)
      - The Hub will match the design of the Marketing Site.
      - Allows a visitor to customize a safe order
      - Contains all pricing, and other safe details
      - Has a list of vendors that it can locate by zip
      - Can redirect a user's to the selected vendor with order data for autofill

    ###  Features of the Vendor Hub (Winchester POV)
      - Non-Technical Winchester Safes Employees will be able to update product information and media ( images, prices, description, related products, etc,)
      - PDF Manuals can be upladed and attached to a specfic product.
      - Appropriate Winchester Employees will be trained by RFTB.

    ### Functioality of the Vendor Hub
      #### Safe Order System
      Site visitors (customers) will guided through a series of choices to customize their order. They will have the ability to go-back to a specifi step or start the order process over completely. User login will not be required to go though the order process.
      #### Employee Log in
      The administration portion of the website will be limited to specific Winchester Safes employees. The log ion method will be the traditional login / password combination. Administrators will be able to change and / or recover their password as needed.
      #### User Managememt
      A single Super-Administrator will have the ability to revike access to any Winchester Employees as needed.
      #### Content Moderation
      If needed the site can bve configiured so that only certain user 'roles' can publish changes to the live site. They can update the data, but it would need to be aprroved by a content editor before the changes would be reflected on the actual user-facing website.


    ---

    ## Vendor Instance
    The "Vendor Instance" is what will be cloned and used for each vendor site. It is where the vendor will go to place Purchase Orders from the Winchester Safes factory. And where the actual customers will finalize and pay for orders.

    ### Features of the Vendor Instance : Customer
    - Customers will be able to submit payment information securely to Authorize.net.
    - The customer will be notified when the order is processed.
    - Customer contact information will be attached to the order in order for the vendpr tpo contact the customer.
    - Optional : Add a Delevery Service charge to the order.

    ###  Features of the Vendor Instance : Vendor
      - Optional: The vendor will be able to set a price for a Deilvery fee line item that can be added to the order.
      - The vendor can place wholesale orders, which will be emailed to the Winchester Safe factory using a Purchase Order Form.

    ###  Functionality of the Vendor Instance
      #### Vendor Payment Gateway Connection
      The Vendor will be abke to connect their Authorize.net API information here to direct payments to their account.
      #### Vendor Log in
      The vendor will have a Admin account for their site only. The user will be using a
