!= partial("_common")
  :markdown
    # CMS : Vendor Hub & Instance Pages

    ## Vendor Hub
    RFTB will create a "Vendor Hub" ontop of the framework WooCommerce that will be the front facing part of the store. Specific Winchester Safes employees will be able to edit/add/delete products at a centralized location. The product changes made here will update the vendor instances automatically.

    ###  Features of the Vendor Hub (User POV)
      - Non-Technical Winchester Safes Employees will be able to update product information and media ( images, prices, description, related products, etc,)
      - PDF Manuals can be downloaded
      - The site will display clearly and 'responsively' on mobile devices (tablets, and mobile phones)
      - The Hub will match the design of the Marketing Site.
      - Allows a visitor to customize a safe order
      - Contains all pricing, and other safe details
      - Has a list of vendors that it can locate by zip
      - Can redirect a user's to the selected vendor with order data for autofill

    ###  Features of the Vendor Hub (Winchester POV)
      - Non-Technical Winchester Safes Employees will be able to update product information and media ( images, prices, description, related products, etc,)
      - PDF Manuals can be upladed and atached to a specfic product.
      - Appropriate Winchester Employees will be trained by RFTB.

    ---

    ## Vendor Instance
    The Vendor Instance is what will be cloned and used for each vendor. It's prmary function is the payment gateway.

    ### Features of the Vendor Instance : Customer

    - Accepts payment information and send it to Authorize.net
    - Notifies the customer when the order is successful
    - Collects visitor contact information and attaches to order
    - ? Lets the user choose delivery fee and enter address ?
    - ? Has a place for user to log-in ?
    - ? Has a place to check order status ?

    ###  Features of the Vendor Instance : Vendor
      - ? Ability to change Delevery fee & radius ?
      - Ability to place wholesale orders with the vendor order form

    ###  Functionality of the Vendor Instance : Back End
      - Autofills order information posted from the Vendor Hub
      - Keeps Product list and data in sync with the Hub
      - Processes order and generates reports
      - Sends vendor orders to Wincester email