!= partial("_common")
  :markdown
    # Product Sync : Vendor Hub & Instance Pages

    The Product List will controlled / updated through the Vendor Hub. When a product is updated or added the changes will be pushed to each Vendor Instance.