!= partial("_common")
  :markdown
    # Product Variation : Vendor Hub & Instance Pages

    #### Safe Models (SKUs) : 21

    #### Unique Variant Types
    #####Locks : 6-8 (guess)
    #####Colors : 2
    #####Interior Colors : (no option here) some models come with different colors