!= partial("_common")
  :markdown
    # responsive Template : Vendor Hub & Instance Pages

    RFTB will buy and modify a theme so that many of eCommerce components will have already been coded. The dev team will modify tghe look and feel of the template to match the custom design of the Marketing Site.

    The template will still need rigourous testing to ensure cross device compatibility.