!= partial("_common")
  :markdown
    # Vendor Wholesale : Vendor Hub & Instance Pages

    RFTB will build a form similar to the offline Purchase Order form for vendors to use to restock their inventory.

.alert.alert-danger RFTB needs this resource from the client
.alert.alert-warning This section will require design work
